@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  width: 100%;
  height:100%;
  background-color: #1b293a;
}


.App {
  text-align: center;

}

#container {
  position: relative;
}

.classgrid {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  text-align: center;
  position: absolute;
  top: 5vh;
  left: 60vh;

}



#Classes {
  position: absolute;
  left: 35vh;
  top: -5vh;
  font-family: 'Roboto', sans-serif;
  color:goldenrod;
  border-bottom: 2px solid antiquewhite;

}

#classDivText, .nav, h1, #personDivText, .classAttribute {
  font-family: 'Roboto', sans-serif;
  color: goldenrod;
  text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
  
}

.navbar {
  background-color: rgb(32, 54, 92);
  display: block;
  color: goldenrod;
  text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
  display: flex;
  justify-content: space-between;
  

}

.classesDiv {
  background-color: rgb(164, 177, 177);
  border: 2px solid black;
  margin: 4px
}

.classesDiv:hover, .personImg:hover {
  transform: scale(1.02);
}

#navTitle {
  font-size: 18px ;
  
}

p {
  color:goldenrod
}

.personImg {
  height: 400px;
  width: 300px;
  object-fit: contain;
  border: solid 3px rgb(31, 31, 58);
  background-color: rgb(164, 177, 177);
}

.personDetailImg {
  height: 500px;
  width: 400px;
  object-fit: contain;
}


#welcome, #user, .classDetail {
  color:rgb(164, 177, 177);
  text-shadow: -1px 1px 2px #000,
  1px 1px 2px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

#commentDiv {

  background-color: rgb(22, 27, 27);
} 


#commentSubmitButton {
  transition-duration: 0.5s;
}

#commentSubmitButton:hover {
  background-color: #af8c4c; /* Green */
  color: rgb(73, 66, 66);
}